OpenBSD build error

**Operating system or device - Godot version:**
OpenBSD 6.0 GENERIC.MP#10 amd64 - Godot 2.2alpha

**Issue description** (what happened, and what was expected):
Trying to compile with llvm didn't work, 

**Steps to reproduce:**
$ doas pkg_add llvm scons freetype yasm pulseaudio
$ scons platform=x11 tools=no use_llvm=yes target=release bits=64                       
scons: Reading SConscript files ...
sh: i586-mingw32msvc-gcc: not found
sh: i686-w64-mingw32-gcc: not found
ALSA libraries not found, disabling driver
Enabling PulseAudio
scons: done reading SConscript files.
scons: Building targets ...
clang++ -o drivers/unix/ip_unix.x11.opt.64.llvm.o -c -O3 -ffast-math -DNDEBUG -DFREETYPE_ENABLED -DENABLE_DEPRECATED -DTYPED_METHOD_BIND -DOPENGL_ENABLED -DPULSEAUDIO_ENABLED -DX11_ENABLED -DUNIX_ENABLED -DGLES2_ENABLED -DGLES_OVER_GL -DGDSCRIPT_ENABLED -DMINIZIP_ENABLED -DXML_ENABLED -DGLEW_STATIC -DGLEW_ENABLED -D_REENTRANT -Icore -Icore/math -Itools -Idrivers -I. -Iplatform/x11 -I/usr/X11R6/include -I/usr/include -I/usr/X11R6/include/freetype2 -I/usr/local/include/libpng16 -I/usr/local/include -Ithirdparty/glew drivers/unix/ip_unix.cpp
drivers/unix/ip_unix.cpp:103:21: error: use of undeclared identifier 'AI_V4MAPPED'
                hints.ai_flags = (AI_V4MAPPED | AI_ADDRCONFIG);
                                  ^
In file included from drivers/unix/ip_unix.cpp:29:
In file included from drivers/unix/ip_unix.h:32:
In file included from core/io/ip.h:33:
In file included from core/os/os.h:32:
In file included from core/ustring.h:33:
core/vector.h:131:11: warning: binding dereferenced null pointer to reference has undefined behavior [-Wnull-dereference]
                        T& aux=*((T*)0); //nullreturn
                               ^~~~~~~~
core/path_db.h:59:21: note: in instantiation of member function 'Vector<StringName>::operator[]' requested here
                        return data->path[0];
                                         ^
In file included from drivers/unix/ip_unix.cpp:29:
In file included from drivers/unix/ip_unix.h:32:
In file included from core/io/ip.h:33:
In file included from core/os/os.h:32:
In file included from core/ustring.h:33:
core/vector.h:143:17: warning: binding dereferenced null pointer to reference has undefined behavior [-Wnull-dereference]
                        const T& aux=*((T*)0); //nullreturn
                                     ^~~~~~~~
core/method_bind.h:212:28: note: in instantiation of member function 'Vector<Variant>::operator[]' requested here
                        return default_arguments[idx];
                                                ^
2 warnings and 1 error generated.
scons: *** [drivers/unix/ip_unix.x11.opt.64.llvm.o] Error 1
scons: building terminated because of errors.


**Link to minimal example project** (optional but very welcome):
N/A


By the way: I just tried to compile Godot versions 2.1 and 2.0 and they are giving (different) errors as well. Not sure if I'm missing something here - it should be at least compiling, right...? (Please let me know if there is any specific information I should provide to help move this forward). Thx!

> error: use of undeclared identifier 'AI_V4MAPPED'

I think we could simply remove the `AI_V4MAPPED` flag if #7271 gets merged, since we are doing mapping ourselves if needed.

That will probably not be enough to build on OpenBSD though, if you say that other godot versions does not work either.

Additionally, since it's related, let me tell you that even if you manage to compile, expect problem when dealing with networking.
OpenBSD does not seem to support dual stack socket, which means you will either have to specify if you want to use IPv4 or IPv6 in your project, or duplicate some of the code if you want both. Because on BSD the same socket cannot listen on both IPv4 and IPv6.

Well, as soon as we have those changes implemented I can try to compile
here and see what happens, no problem. (Even if I end up using another game
engine for now, working on this by testing/debugging would be fun).

About the dual stack socket issue: what would be the solution for Mac OS X?
(Shouldn't it be similar to OpenBSD...?)

BTW: useless to say that I'm not a professional developer but a hobbyist. I
tried searching for this issue but I could only very superficially
understand this - I'm just sharing below the links that looked closer to a
solution, not sure how useful they can be, My layman understanding is that
whatever project I create using Godot in OpenBSD could be eventually
compiled using for example a Mac to produce binaries that do what I want.
And until I would do so, I would test the game using IPv4 only in my
OpenBSD machine. (Does that make sense...?)

Here are the links:
https://forums.developer.apple.com/message/136166#136166
https://tools.ietf.org/html/rfc6555




On Fri, Dec 9, 2016 at 8:05 PM, Fabio Alessandrelli <
notifications@github.com> wrote:

> error: use of undeclared identifier 'AI_V4MAPPED'
>
> I think we could simply remove the AI_V4MAPPED flag if #7271
> <https://github.com/godotengine/godot/pull/7271> gets merged, since we
> are doing mapping ourselves if needed.
>
> That will probably not be enough to build on OpenBSD though, if you say
> that other godot versions does not work either.
>
> Additionally, since it's related, let me tell you that even if you manage
> to compile, expect problem when dealing with networking.
> OpenBSD does not seem to support dual stack socket, which means you will
> either have to specify if you want to use IPv4 or IPv6 in your project, or
> duplicate some of the code if you want both. Because on BSD the same socket
> cannot listen on both IPv4 and IPv6.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/godotengine/godot/issues/7265#issuecomment-266136110>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AF18Yh4aaMEBuk46l-wTTeo0q-ktppgbks5rGdC4gaJpZM4LG7La>
> .
>


> Well, as soon as we have those changes implemented I can try to compile here and see what happens, no problem.

You can try compiling this branch: https://github.com/faless/godot/tree/ipv6_cleanup where I removed that flag.

> what would be the solution for Mac OS X?

It works on MacOSX because it has dual stack socket support and the `IPV6_V6ONLY` flag is working properly.

The fact that MacOSX uses a BSD kernel does not mean all BSD kernels share the same configuration.
Specifically, BSDs other than OpenBSD might support it like Mac does.

To your point, I think [1] and [2] are the most "compelling evidence" that
this "dual stack socket" issue might not have a trivial solution for
OpenBSD - and [3] an example that FreeBSD wouldn't have the same problem.
(I just tried compiling the ipv6_cleanup branch, see details below - yes,
those were the type of errors I was getting for the earlier versions of
godot). Please let me know if/how can I be helpful moving forward.

[1] http://man.openbsd.org/ip6.4
"IPV6_V6ONLY *int ** Get or set whether only IPv6 connections can be made
to this socket. For wildcard sockets, this can restrict connections to IPv6
only. With OpenBSD IPv6 sockets are always IPv6-only, so the socket option
is read-only (not modifiable)."
[2] http://man.openbsd.org/inet6.4
"For security reasons, OpenBSD does not route IPv4 traffic to an AF_INET6
socket, and does not support IPv4 mapped addresses, where IPv4 traffic is
seen as if it comes from an IPv6 address like ::ffff:10.1.1.1. Where both
IPv4 and IPv6 traffic need to be accepted, listen on two sockets."


AFAIU on FreeBSD this is the solution:

[3] https://www.freebsd.org/doc/handbook/network-ipv6.html
"When IPv6 is enabled on a server, there may be a need to enable IPv4
mapped IPv6 address communication. This compatibility option allows for IPv4
addresses to be represented as IPv6 addresses. Permitting IPv6 applications
to communicate with IPv4 and vice versa may be a security issue.

This option may not be required in most cases and is available only for
compatibility. This option will allow IPv6-only applications to work with
IPv4 in a dual stack environment. This is most useful for third party
applications which may not support an IPv6-only environment. To enable this
feature, add the following to /etc/rc.conf:

ipv6_ipv4mapping="YES"

Reviewing the information in RFC 3493, section 3.6 and 3.7 as well as RFC
4038 section 4.2 may be useful to some administrators."


OK, so I just tried compiling with:
$ scons platform=x11 tools=no use_llvm=yes target=release bits=64

Final warnings / error messages before fatal-error look like this (BTW,
GLEW is supported in OpenBSD by default, not sure if we could test not
compiling this part....?):

(...)

8 warnings generated.
clang -o thirdparty/glew/glew.x11.opt.64.llvm.o -c -O3 -ffast-math -DNDEBUG
-DFREETYPE_ENABLED -DENABLE_DEPRECATED -DTYPED_METHOD_BIND -DOPENGL_ENABLED
-DPULSEAUDIO_ENABLED -DX11_ENABLED -DUNIX_ENABLED -DGLES2_ENABLED
-DGLES_OVER_GL -DGDSCRIPT_ENABLED -DMINIZIP_ENABLED -DXML_ENABLED
-DGLEW_STATIC -DGLEW_ENABLED -D_REENTRANT -Icore -Icore/math -Itools
-Idrivers -I. -Iplatform/x11 -I/usr/X11R6/include -I/usr/include
-I/usr/X11R6/include/freetype2 -I/usr/local/include/libpng16
-I/usr/local/include -Ithirdparty/glew thirdparty/glew/glew.c
thirdparty/glew/glew.c:616:1: error: unknown type name
'PFNGLGETNCOMPRESSEDTEXIMAGEPROC'; did you mean
      'PFNGLGETCOMPRESSEDTEXIMAGEPROC'?
PFNGLGETNCOMPRESSEDTEXIMAGEPROC __glewGetnCompressedTexImage = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLGETCOMPRESSEDTEXIMAGEPROC
/usr/local/include/GL/glew.h:1385:28: note:
'PFNGLGETCOMPRESSEDTEXIMAGEPROC' declared here
typedef void (GLAPIENTRY * PFNGLGETCOMPRESSEDTEXIMAGEPROC) (GLenum target,
GLint lod, void *img);
                           ^
thirdparty/glew/glew.c:617:1: error: unknown type name
'PFNGLGETNTEXIMAGEPROC'; did you mean 'PFNGLGETNTEXIMAGEARBPROC'?
PFNGLGETNTEXIMAGEPROC __glewGetnTexImage = NULL;
^~~~~~~~~~~~~~~~~~~~~
PFNGLGETNTEXIMAGEARBPROC
/usr/local/include/GL/glew.h:5561:28: note: 'PFNGLGETNTEXIMAGEARBPROC'
declared here
typedef void (GLAPIENTRY * PFNGLGETNTEXIMAGEARBPROC) (GLenum target, GLint
level, GLenum format, GLenum type, GLsiz...
                           ^
thirdparty/glew/glew.c:618:1: error: unknown type name
'PFNGLGETNUNIFORMDVPROC'
PFNGLGETNUNIFORMDVPROC __glewGetnUniformdv = NULL;
^
thirdparty/glew/glew.c:737:1: error: unknown type name
'PFNGLPRIMITIVEBOUNDINGBOXARBPROC'
PFNGLPRIMITIVEBOUNDINGBOXARBPROC __glewPrimitiveBoundingBoxARB = NULL;
^
thirdparty/glew/glew.c:964:1: error: unknown type name
'PFNGLGETUNIFORMI64VARBPROC'; did you mean
      'PFNGLGETUNIFORMIVARBPROC'?
PFNGLGETUNIFORMI64VARBPROC __glewGetUniformi64vARB = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLGETUNIFORMIVARBPROC

/usr/local/include/GL/glew.h:6048:28: note: 'PFNGLGETUNIFORMIVARBPROC'
declared here
typedef void (GLAPIENTRY * PFNGLGETUNIFORMIVARBPROC) (GLhandleARB
programObj, GLint location, GLint* params);
                           ^
thirdparty/glew/glew.c:965:1: error: unknown type name
'PFNGLGETUNIFORMUI64VARBPROC'
PFNGLGETUNIFORMUI64VARBPROC __glewGetUniformui64vARB = NULL;
^
thirdparty/glew/glew.c:966:1: error: unknown type name
'PFNGLGETNUNIFORMI64VARBPROC'; did you mean
      'PFNGLGETNUNIFORMIVARBPROC'?
PFNGLGETNUNIFORMI64VARBPROC __glewGetnUniformi64vARB = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLGETNUNIFORMIVARBPROC
/usr/local/include/GL/glew.h:5564:28: note: 'PFNGLGETNUNIFORMIVARBPROC'
declared here
typedef void (GLAPIENTRY * PFNGLGETNUNIFORMIVARBPROC) (GLuint program,
GLint location, GLsizei bufSize, GLint* params);
                           ^
thirdparty/glew/glew.c:967:1: error: unknown type name
'PFNGLGETNUNIFORMUI64VARBPROC'; did you mean
      'PFNGLGETNUNIFORMUIVARBPROC'?
PFNGLGETNUNIFORMUI64VARBPROC __glewGetnUniformui64vARB = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLGETNUNIFORMUIVARBPROC
/usr/local/include/GL/glew.h:5565:28: note: 'PFNGLGETNUNIFORMUIVARBPROC'
declared here
typedef void (GLAPIENTRY * PFNGLGETNUNIFORMUIVARBPROC) (GLuint program,
GLint location, GLsizei bufSize, GLuint* params);
                           ^
thirdparty/glew/glew.c:968:1: error: unknown type name
'PFNGLPROGRAMUNIFORM1I64ARBPROC'
PFNGLPROGRAMUNIFORM1I64ARBPROC __glewProgramUniform1i64ARB = NULL;
^
thirdparty/glew/glew.c:969:1: error: unknown type name
'PFNGLPROGRAMUNIFORM1I64VARBPROC'; did you mean
      'PFNGLPROGRAMUNIFORM1I64VNVPROC'?
PFNGLPROGRAMUNIFORM1I64VARBPROC __glewProgramUniform1i64vARB = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLPROGRAMUNIFORM1I64VNVPROC

/usr/local/include/GL/glew.h:12850:28: note:
'PFNGLPROGRAMUNIFORM1I64VNVPROC' declared here
typedef void (GLAPIENTRY * PFNGLPROGRAMUNIFORM1I64VNVPROC) (GLuint program,
GLint location, GLsizei count, const GL...
                           ^
thirdparty/glew/glew.c:970:1: error: unknown type name
'PFNGLPROGRAMUNIFORM1UI64ARBPROC'
PFNGLPROGRAMUNIFORM1UI64ARBPROC __glewProgramUniform1ui64ARB = NULL;
^
thirdparty/glew/glew.c:971:1: error: unknown type name
'PFNGLPROGRAMUNIFORM1UI64VARBPROC'; did you mean
      'PFNGLPROGRAMUNIFORM1UI64VNVPROC'?
PFNGLPROGRAMUNIFORM1UI64VARBPROC __glewProgramUniform1ui64vARB = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLPROGRAMUNIFORM1UI64VNVPROC
/usr/local/include/GL/glew.h:12852:28: note:
'PFNGLPROGRAMUNIFORM1UI64VNVPROC' declared here
typedef void (GLAPIENTRY * PFNGLPROGRAMUNIFORM1UI64VNVPROC) (GLuint
program, GLint location, GLsizei count, const G...
                           ^
thirdparty/glew/glew.c:972:1: error: unknown type name
'PFNGLPROGRAMUNIFORM2I64ARBPROC'
PFNGLPROGRAMUNIFORM2I64ARBPROC __glewProgramUniform2i64ARB = NULL;
^
thirdparty/glew/glew.c:973:1: error: unknown type name
'PFNGLPROGRAMUNIFORM2I64VARBPROC'; did you mean
      'PFNGLPROGRAMUNIFORM2I64VNVPROC'?
PFNGLPROGRAMUNIFORM2I64VARBPROC __glewProgramUniform2i64vARB = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLPROGRAMUNIFORM2I64VNVPROC
/usr/local/include/GL/glew.h:12854:28: note:
'PFNGLPROGRAMUNIFORM2I64VNVPROC' declared here
typedef void (GLAPIENTRY * PFNGLPROGRAMUNIFORM2I64VNVPROC) (GLuint program,
GLint location, GLsizei count, const GL...

thirdparty/glew/glew.c:974:1: error: unknown type name
'PFNGLPROGRAMUNIFORM2UI64ARBPROC'
PFNGLPROGRAMUNIFORM2UI64ARBPROC __glewProgramUniform2ui64ARB = NULL;
^
thirdparty/glew/glew.c:975:1: error: unknown type name
'PFNGLPROGRAMUNIFORM2UI64VARBPROC'; did you mean
      'PFNGLPROGRAMUNIFORM2UI64VNVPROC'?
PFNGLPROGRAMUNIFORM2UI64VARBPROC __glewProgramUniform2ui64vARB = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLPROGRAMUNIFORM2UI64VNVPROC
/usr/local/include/GL/glew.h:12856:28: note:
'PFNGLPROGRAMUNIFORM2UI64VNVPROC' declared here
typedef void (GLAPIENTRY * PFNGLPROGRAMUNIFORM2UI64VNVPROC) (GLuint
program, GLint location, GLsizei count, const G...
                           ^
thirdparty/glew/glew.c:976:1: error: unknown type name
'PFNGLPROGRAMUNIFORM3I64ARBPROC'
PFNGLPROGRAMUNIFORM3I64ARBPROC __glewProgramUniform3i64ARB = NULL;
^
thirdparty/glew/glew.c:977:1: error: unknown type name
'PFNGLPROGRAMUNIFORM3I64VARBPROC'; did you mean
      'PFNGLPROGRAMUNIFORM3I64VNVPROC'?
PFNGLPROGRAMUNIFORM3I64VARBPROC __glewProgramUniform3i64vARB = NULL;
^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
PFNGLPROGRAMUNIFORM3I64VNVPROC
/usr/local/include/GL/glew.h:12858:28: note:
'PFNGLPROGRAMUNIFORM3I64VNVPROC' declared here
typedef void (GLAPIENTRY * PFNGLPROGRAMUNIFORM3I64VNVPROC) (GLuint program,
GLint location, GLsizei count, const GL...
                           ^
thirdparty/glew/glew.c:978:1: error: unknown type name
'PFNGLPROGRAMUNIFORM3UI64ARBPROC'
PFNGLPROGRAMUNIFORM3UI64ARBPROC __glewProgramUniform3ui64ARB = NULL;
^
fatal error: too many errors emitted, stopping now [-ferror-limit=]
20 errors generated.
scons: *** [thirdparty/glew/glew.x11.opt.64.llvm.o] Error 1
scons: building terminated because of errors.




On Sat, Dec 10, 2016 at 3:00 AM, Fabio Alessandrelli <
notifications@github.com> wrote:

> Well, as soon as we have those changes implemented I can try to compile
> here and see what happens, no problem.
>
> You can try compiling this branch: https://github.com/faless/
> godot/tree/ipv6_cleanup where I removed that flag.
>
> what would be the solution for Mac OS X?
>
> It works on MacOSX because it has dual stack socket support and the
> IPV6_V6ONLY flag is working properly.
>
> The fact that MacOSX uses a BSD kernel does not mean all BSD kernels share
> the same configuration.
> Specifically, BSDs other than OpenBSD might support it like Mac does.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/godotengine/godot/issues/7265#issuecomment-266179456>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AF18YsnAIRKomtTM_2-Heguq9kadeoHqks5rGjHZgaJpZM4LG7La>
> .
>


> OK, so I just tried compiling with: $ scons platform=x11 tools=no use_llvm=yes target=release bits=64 Final warnings / error messages before fatal-error look like this:

Not sure what your problem is, I used exactly that same command for compiling the ipv6_cleanup branch on a freshly installed OpenBSD 6.0 (inside virtualbox) and it compiled fine.

OK, that's good news - any output you can share...? (for example: clang is
running with what -D definitions? What packages did you install before
compiling? Did you include GLEW as a package - since the errors were
related to GLEW this might be important...). Any hints that I can use to
investigate this further from my side?

On Sat, Dec 10, 2016 at 11:14 AM, Fabio Alessandrelli <
notifications@github.com> wrote:

> OK, so I just tried compiling with: $ scons platform=x11 tools=no
> use_llvm=yes target=release bits=64 Final warnings / error messages before
> fatal-error look like this:
>
> Not sure what your problem is, I used exactly that same command for
> compiling the ipv6_cleanup branch on a freshly installed OpenBSD 6.0
> (inside virtualbox) and it compiled fine.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/godotengine/godot/issues/7265#issuecomment-266207153>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AF18YnhO4RHNN6fyUik_Q8Tt4HRCJ8LAks5rGqW4gaJpZM4LG7La>
> .
>


Update: I think I (sort of) found the problem. I already had GLEW
installed, and from the error messages that I sent before, it was using
glew.h from OpenBSD, but trying to compile glew.c from godot. So what
worked out was disabling glew in SCons file in godot's root (from 'yes' to
'no'). It compiled OK, no error, and I tested with the demo-project below.
https://github.com/wardsky/blipshift

I'll try to compile with tools=yes and see what happens. I'm getting an
error message when running the binary (any hint on how to fix this would be
welcomed).

$
godot.x11.opt.64.llvm

ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
error: Couldn't load game path '.'
Godot Engine v2.2.alpha.custom_build (c) 2008-2016 Juan Linietsky, Ariel
Manzur.
Usage: godot.x11.opt.64.llvm [options] [scene]
Options:
        -path [dir] : Path to a game, containing engine.cfg


When I run the binary specifying the path to engine.cfg it works, but I see
these errors:

$ godot.x11.opt.64.llvm -path
../../blipshift-master/

ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
could not load libXrandr.so.2, Error: File not found
PulseAudio ERR: Connection refused
ERROR: init: Condition ' pulse == __null ' is true. returned: ERR_CANT_OPEN
   At: drivers/pulseaudio/audio_driver_pulseaudio.cpp:70.
ERROR: initialize: Initializing audio failed.
   At: platform/x11/os_x11.cpp:289.
XIO:  fatal IO error 35 (Resource temporarily unavailable) on X server ":0"
      after 3261 requests (3261 known processed) with 0 events remaining.


On Sat, Dec 10, 2016 at 3:18 PM, Michel Behr <michelbehr@gmail.com> wrote:

> OK, that's good news - any output you can share...? (for example: clang is
> running with what -D definitions? What packages did you install before
> compiling? Did you include GLEW as a package - since the errors were
> related to GLEW this might be important...). Any hints that I can use to
> investigate this further from my side?
>
> On Sat, Dec 10, 2016 at 11:14 AM, Fabio Alessandrelli <
> notifications@github.com> wrote:
>
>> OK, so I just tried compiling with: $ scons platform=x11 tools=no
>> use_llvm=yes target=release bits=64 Final warnings / error messages before
>> fatal-error look like this:
>>
>> Not sure what your problem is, I used exactly that same command for
>> compiling the ipv6_cleanup branch on a freshly installed OpenBSD 6.0
>> (inside virtualbox) and it compiled fine.
>>
>> —
>> You are receiving this because you authored the thread.
>> Reply to this email directly, view it on GitHub
>> <https://github.com/godotengine/godot/issues/7265#issuecomment-266207153>,
>> or mute the thread
>> <https://github.com/notifications/unsubscribe-auth/AF18YnhO4RHNN6fyUik_Q8Tt4HRCJ8LAks5rGqW4gaJpZM4LG7La>
>> .
>>
>
>


It's working!! :-) So cool... so it compiled and generated the binary
godot.x11.opt.tools.64.llvm

Running it works and gives the following messages:

ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
could not load libXrandr.so.2, Error: File not found
PulseAudio ERR: Connection refused
ERROR: init: Condition ' pulse == __null ' is true. returned: ERR_CANT_OPEN
   At: drivers/pulseaudio/audio_driver_pulseaudio.cpp:70.
ERROR: initialize: Initializing audio failed.
   At: platform/x11/os_x11.cpp:289.
ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
WARNING: create: Config file does not exist, creating.
   At: tools/editor/editor_settings.cpp:337.
..https://godotengine.org/asset-library/api
WARNING: _socket_create: Unable to set/unset IPv4 address mapping over IPv6
   At: ./drivers/unix/socket_helpers.h:83.
ERROR: connect: Connection to remote host failed!
   At: drivers/unix/stream_peer_tcp_posix.cpp:167.
..https://godotengine.org/asset-library/api
WARNING: _socket_create: Unable to set/unset IPv4 address mapping over IPv6
   At: ./drivers/unix/socket_helpers.h:83.
ERROR: connect: Connection to remote host failed!
   At: drivers/unix/stream_peer_tcp_posix.cpp:167.
OPENING: /home/mbehr/tests/godot-ipv6_cleanup/_mbehrProjects
(::home::mbehr::tests::godot-ipv6_cleanup::_mbehrProjects)
ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
could not load libXrandr.so.2, Error: File not found
$ PulseAudio ERR: Connection refused
ERROR: init: Condition ' pulse == __null ' is true. returned: ERR_CANT_OPEN
   At: drivers/pulseaudio/audio_driver_pulseaudio.cpp:70.
ERROR: initialize: Initializing audio failed.
   At: platform/x11/os_x11.cpp:289.
ERROR: get_executable_path: Warning, don't know how to obtain executable
path on this OS! Please override this function properly.
   At: drivers/unix/os_unix.cpp:526.
..https://godotengine.org/asset-library/api
WARNING: _socket_create: Unable to set/unset IPv4 address mapping over IPv6
   At: ./drivers/unix/socket_helpers.h:83.
ERROR: connect: Connection to remote host failed!
   At: drivers/unix/stream_peer_tcp_posix.cpp:167.
..https://godotengine.org/asset-library/api
WARNING: _socket_create: Unable to set/unset IPv4 address mapping over IPv6
   At: ./drivers/unix/socket_helpers.h:83.
ERROR: connect: Connection to remote host failed!
   At: drivers/unix/stream_peer_tcp_posix.cpp:167.
WARNING: cleanup: ObjectDB Instances still exist!
   At: core/object.cpp:2001.


On Sat, Dec 10, 2016 at 5:24 PM, Michel Behr <michelbehr@gmail.com> wrote:

> Update: I think I (sort of) found the problem. I already had GLEW
> installed, and from the error messages that I sent before, it was using
> glew.h from OpenBSD, but trying to compile glew.c from godot. So what
> worked out was disabling glew in SCons file in godot's root (from 'yes' to
> 'no'). It compiled OK, no error, and I tested with the demo-project below.
> https://github.com/wardsky/blipshift
>
> I'll try to compile with tools=yes and see what happens. I'm getting an
> error message when running the binary (any hint on how to fix this would be
> welcomed).
>
> $ godot.x11.opt.64.llvm
>
> ERROR: get_executable_path: Warning, don't know how to obtain executable
> path on this OS! Please override this function properly.
>    At: drivers/unix/os_unix.cpp:526.
> ERROR: get_executable_path: Warning, don't know how to obtain executable
> path on this OS! Please override this function properly.
>    At: drivers/unix/os_unix.cpp:526.
> error: Couldn't load game path '.'
> Godot Engine v2.2.alpha.custom_build (c) 2008-2016 Juan Linietsky, Ariel
> Manzur.
> Usage: godot.x11.opt.64.llvm [options] [scene]
> Options:
>         -path [dir] : Path to a game, containing engine.cfg
>
>
> When I run the binary specifying the path to engine.cfg it works, but I
> see these errors:
>
> $ godot.x11.opt.64.llvm -path ../../blipshift-master/
>
> ERROR: get_executable_path: Warning, don't know how to obtain executable
> path on this OS! Please override this function properly.
>    At: drivers/unix/os_unix.cpp:526.
> ERROR: get_executable_path: Warning, don't know how to obtain executable
> path on this OS! Please override this function properly.
>    At: drivers/unix/os_unix.cpp:526.
> could not load libXrandr.so.2, Error: File not found
> PulseAudio ERR: Connection refused
> ERROR: init: Condition ' pulse == __null ' is true. returned: ERR_CANT_OPEN
>    At: drivers/pulseaudio/audio_driver_pulseaudio.cpp:70.
> ERROR: initialize: Initializing audio failed.
>    At: platform/x11/os_x11.cpp:289.
> XIO:  fatal IO error 35 (Resource temporarily unavailable) on X server ":0"
>       after 3261 requests (3261 known processed) with 0 events remaining.
>
>
> On Sat, Dec 10, 2016 at 3:18 PM, Michel Behr <michelbehr@gmail.com> wrote:
>
>> OK, that's good news - any output you can share...? (for example: clang
>> is running with what -D definitions? What packages did you install before
>> compiling? Did you include GLEW as a package - since the errors were
>> related to GLEW this might be important...). Any hints that I can use to
>> investigate this further from my side?
>>
>> On Sat, Dec 10, 2016 at 11:14 AM, Fabio Alessandrelli <
>> notifications@github.com> wrote:
>>
>>> OK, so I just tried compiling with: $ scons platform=x11 tools=no
>>> use_llvm=yes target=release bits=64 Final warnings / error messages before
>>> fatal-error look like this:
>>>
>>> Not sure what your problem is, I used exactly that same command for
>>> compiling the ipv6_cleanup branch on a freshly installed OpenBSD 6.0
>>> (inside virtualbox) and it compiled fine.
>>>
>>> —
>>> You are receiving this because you authored the thread.
>>> Reply to this email directly, view it on GitHub
>>> <https://github.com/godotengine/godot/issues/7265#issuecomment-266207153>,
>>> or mute the thread
>>> <https://github.com/notifications/unsubscribe-auth/AF18YnhO4RHNN6fyUik_Q8Tt4HRCJ8LAks5rGqW4gaJpZM4LG7La>
>>> .
>>>
>>
>>
>


Can this be closed?

> Can this be closed?

I think so, but I'll give it a try today

> Can this be closed?

Yes, you can close this.

I successfully compiled godot from a fresh OpenBSD 6.0 install. (both `master` and `2.1`)
Required packages:
```
pkg_add python scons png llvm
```
(select python 2.7)
Compile with:
`scons p=x11 use_llvm=yes` (optional `-j $JOBS` for using multiple cores)

I successfully accessed the asset lib, downloaded the minesweeper demo, and run it.
There are few other bugs on this platform, but this issue is fixed.

Can someone from the doc team update the "Compiling for X11" section with the required packages list (and not on having to use llvm otherwise fonts does not compile)?