glTF importer fails loading images for Khronos sample "Box With Spaces"

**Godot version:**
3.3 RC 8 and `master` (43f89e7c2ca080168ebf8adc1c23489491320429)


**OS/device including version:**
Linux


**Issue description:**
When importing the Khronos sample "Box With Spaces", the materials are not properly imported because we fail to load the images.

![Screenshot_20210412_115829](https://user-images.githubusercontent.com/4701338/114376932-66f22400-9b86-11eb-9d33-ae876134c905.png)

Should be:
![Screenshot_20210412_115848](https://user-images.githubusercontent.com/4701338/114376983-73767c80-9b86-11eb-9e22-4352654b5fc1.png)

Import log:
```
glTF: Importing file res://Box With Spaces/glTF/Box With Spaces.gltf as scene.
glTF: Total buffers: 1
glTF: Total buffer views: 4
glTF: Total accessors: 4
Loading resource: res://Box With Spaces/glTF/Normal%20Map.png
ERROR: _load: Resource file not found: res://Box With Spaces/glTF/Normal%20Map.png.
   At: core/io/resource_loader.cpp:283.
ERROR: get_file_as_array: Can't open file from path 'res://Box With Spaces/glTF/Normal%20Map.png'.
   At: core/os/file_access.cpp:606.
WARNING: _parse_images: glTF: Image index '0' couldn't be loaded as a buffer of MIME type 'image/png' from URI: res://Box With Spaces/glTF/Normal%20Map.png. Skipping it.
   At: editor/import/editor_scene_importer_gltf.cpp:1367.
Loading resource: res://Box With Spaces/glTF/glTF%20Logo%20With%20Spaces.png
ERROR: _load: Resource file not found: res://Box With Spaces/glTF/glTF%20Logo%20With%20Spaces.png.
   At: core/io/resource_loader.cpp:283.
ERROR: get_file_as_array: Can't open file from path 'res://Box With Spaces/glTF/glTF%20Logo%20With%20Spaces.png'.
   At: core/os/file_access.cpp:606.
WARNING: _parse_images: glTF: Image index '1' couldn't be loaded as a buffer of MIME type 'image/png' from URI: res://Box With Spaces/glTF/glTF%20Logo%20With%20Spaces.png. Skipping it.
   At: editor/import/editor_scene_importer_gltf.cpp:1367.
Loading resource: res://Box With Spaces/glTF/Roughness%20Metallic.png
ERROR: _load: Resource file not found: res://Box With Spaces/glTF/Roughness%20Metallic.png.
   At: core/io/resource_loader.cpp:283.
ERROR: get_file_as_array: Can't open file from path 'res://Box With Spaces/glTF/Roughness%20Metallic.png'.
   At: core/os/file_access.cpp:606.
WARNING: _parse_images: glTF: Image index '2' couldn't be loaded as a buffer of MIME type 'image/png' from URI: res://Box With Spaces/glTF/Roughness%20Metallic.png. Skipping it.
   At: editor/import/editor_scene_importer_gltf.cpp:1367.
glTF: Total images: 3
glTF: Total materials: 1
glTF: Parsing mesh: 0
glTF: type vec3 component type: Float stride: 12 amount 24
glTF: accessor offset0 view offset: 0 total buffer len: 840 view len 288
glTF: type vec3 component type: Float stride: 12 amount 24
glTF: accessor offset0 view offset: 288 total buffer len: 840 view len 288
glTF: type vec2 component type: Float stride: 8 amount 24
glTF: accessor offset0 view offset: 576 total buffer len: 840 view len 192
glTF: type float component type: UShort stride: 2 amount 36
glTF: accessor offset0 view offset: 768 total buffer len: 840 view len 72
glTF: Total meshes: 1
glTF: Creating mesh for: Cube
Loading resource: res://Box With Spaces/glTF/Material.material
Saving scene to: res://.import/Box With Spaces.gltf-478c4be1a466d795160f99cce5647671.scn
```

The `.glTF` seems to use `%20` to encode spaces, apparently we need to convert them ourselves back to actual spaces (likely using `uri_decode`).


**Steps to reproduce:**
- Load MRP with `--verbose`

**Minimal reproduction project:**
[gltf-with-spaces.zip](https://github.com/godotengine/godot/files/6295678/gltf-with-spaces.zip)

Indeed, from the glTF specification https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#uris

Quote (emphasis mine):
> Relative URI paths — or path-noscheme as defined by RFC 3986, [Section 4.2](https://tools.ietf.org/html/rfc3986#section-4.2) — without scheme, authority, or parameters. Reserved characters **must be percent-encoded**, per RFC 3986, [Section 2.2](https://tools.ietf.org/html/rfc3986#section-2.2).

![image](https://user-images.githubusercontent.com/32321/137579628-7136dd03-210f-411f-a935-b1d85ac0e2c5.png)

Appears to import correctly now. Fixed by the uri decode in https://github.com/godotengine/godot/commit/aca4b737f107c344151cb8eb859087b1f52fbe35.